# cursorrules

## 命名规范

### 变量

使用小驼峰命名，如果是布尔类型，则使用is开头的小驼峰。

function内部、回调函数、需要省略this绑定的情况下，再使用箭头函数。

如果是网络请求的返回结果，使用ret作为变量名。

### 常量

全部使用大写加下划线命名，如果是布尔类型，则用IS开头。

### 函数

全部使用on开头的驼峰命名，on后面紧跟操作，如onClickXxxxx、onChangeXxxxx、onAnalysisXxxxx，一般来说操作都是动词才对。最后的Xxxxx则是具体的业务，视情况填写即可。

函数的入参统统使用一个Object传入，使用JSDoc声明类型。

函数的返回值一定是Promise，即使是空，也要返回`Promise.reject(0)`。

### CSS的class

使用BEM命名方式。

### 文件夹与文件命名

文件与文件夹均使用小写字母加横杠。

新建文件时候，如果有文件夹，不要使用index作为最后文件，使用与文件夹同名的文件名。如my/index错误，my/my正确。

### 代码

代码行结尾不要添加分号。

待实现的需要使用 TODO xxx 格式做注释。

缩进统统使用2个空格。

### 占位静态资源

#### 图片

城市: https://fuss10.elemecdn.com/8/27/f01c15bb73e1ef3793e64e6b7bbccjpeg.jpeg

风景: https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg

动物: https://fuss10.elemecdn.com/3/28/bbf893f792f03a54408b3b7a7ebf0jpeg.jpeg

#### 视频

大自然: http://vjs.zencdn.net/v/oceans.mp4

动画片: https://media.w3.org/2010/05/sintel/trailer.mp4