:root {
  --color-primary: #667eea;
  --text-primary: #342D4D;
  --text-gray: #929292;
  --border__color--gray: #DADADA;
}

/* 基础布局 */
html,
body,
main {
  height: 100%;
}

/* 整体布局样式 */
body {
  margin: 0;
  font-family: 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

[x-cloak] {
  display: none;
}