@import "tailwindcss";
@plugin "daisyui";

@layer tailwindcss {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

@layer custom {
  body {
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
    body {
      padding: 16px;
    }
  }

  [popover]::backdrop {
    background-color: #0002;
  }
}